<section id="hobbies">
  <div class="topics">
    <div class="hobbies">
      <h1>Hobbies</h1>
      <p>In addition to my professional pursuits, I am an individual with a deep passion for reading, writing, cinema, and sport, which collectively enrich my life by fostering knowledge acquisition, creativity, effective communication, critical thinking, and a well-rounded, balanced approach to personal and professional development.</p>
      <div class="hobbies_topics">
        <i class="fa-2x fa-solid fa-book-open"></i>
        <i class="fa-2x fa-solid fa-pencil"></i>
        <i class="fa-2x fa-solid fa-film"></i>
        <i class="fa-2x fa-solid fa-person-running"></i>
      </div>
    </div>
  </div>
</section>
