<section id="work">
  <div class="topics">
    <div class="my_work">
      <h1>My Work</h1>
      <p>I am currently managing the process of migrating the entire IT infrastructure to the M365 platform and also to a global Active Directory.</p>
      <p>I work daily with various platforms, including NetBox, Fortinet, Zimbra Mail Client, Nextcloud, Check Point and Rundeck, as well as various operating systems, such as Windows, Linux and MacOS.</p>
      <div class="work_topics">
        <i class="fa-2x fa-brands fa-windows"></i>
        <i class="fa-2x fa-solid fa-file-shield"></i>
        <i class="fa-2x fa-solid fa-envelope"></i>
        <i class="fa-2x fa-solid fa-cloud-arrow-up"></i>
        <i class="fa-2x fa-solid fa-code"></i>
        <i class="fa-2x fa-solid fa-network-wired"></i>
      </div>
    </div>
  </div>
</section>
<app-hobbies></app-hobbies>
