<section id="about">
  <div class="topics">
    <img src="./assets/img/foto.png">
    <div class="about_me">
      <h1>About Me</h1>
      <p>I'm 33 years old and was born in Lisbon.</p>
      <p>I studied Computer Equipment Management at the Gustave Eiffel Professional School. I later graduated in Systems Management and Computing from Atlântica University. I'm currently studying for a master's degree in Computer Engineering and Web Technology at the Aberta University.</p>
      <p>I've been working for 12 years in a construction company, currently as an Infrastructure Specialist.</p>
      <p>I'm a dedicated professional with a deep love of learning new things.</p>
    </div>
  </div>
</section>
